* {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  border: 1px solid black;
  min-height: 150px;
  min-width: 600px;
  width: 100%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

ul {
  display:flex;
  list-style:none;
}

ul li {
  margin: 0 auto;
}

h3 {
  text-align: center;
}

#apiInformationLeft {
  border: 1px solid black;
  max-width: 30%;
  height: 100%;
}